<div class="app-about-us">
    <div fxLayout="column">
        <p class="text">
            دیوار از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در تمامی مراجع قانونی ثبت شده است.
        </p>
        <h1 class="header">
            نیازمندی‌های ریز و درشت شما روی دیوار
        </h1>
        <p class="text">
            در دیوار به آسانی می‌توانید نیازمندی‌هایتان را بر اساس محله دسته‌بندی کنید و نزدیک‌ترین‌ها را بیابید.
        </p>
        <h2 class="header">
            برای قرار دادنِ آگهی‌های خود در دیوار
        </h2>
        <p class="text">
            شهرتان را مشخص نمایید، علامت «+ ارسال آگهی رایگان» را انتخاب کنید و آنگاه آگهی‌تان را بفرستید.
        </p>
        <p class="text">
            فراموش نکنید پیش از هر چیز یک آدرس ایمیل و یک شماره تلفن برای ارسال آگهی ضروری است. شما می‌توانید برای کالا یا خدمات‌تان عکسی نیز انتخاب کنید.
        </p>
        <p class="text">
            به این ترتیب میلیون‌ها کاربران دیوار به آسانی آگهی‌ شما را خواهند دید و بر اساس محل آگهی شما را راحت‌تر خواهند یافت.
        </p>
        <h2 class="header">
            خرید و فروش بی‌واسطه
        </h2>
        <p class="text">
            در دیوار کاربران مستقیماً با هم تماس می‌گیرند و هیچ واسطه‌ای در این میان وجود ندارد، پس دقت فرمایید که در خرید و فروشِ شما دیوار هیچ دخالتی ندارد و کاربران باید خودشان جنبه‌های مختلف امنیتی را در نظر بگیرند.


        </p>
        <div fxLayout="row" style="margin-top: 40px;align-items: center;
        justify-content: center;">
            <a class="image-bazar" href="">
                <span>دریافت از بازار</span>
            </a>
            <a class="image-appStore" href="">
                <span>دریافت از اپ‌استور</span>
            </a>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top:20px">
            <span style="display: flex;
            align-items: center;
            justify-content: center;">
            <h1 class="title-footer">دیوار</h1>
            را در شبکه‌های اجتماعی دنبال کنید:
        </span>
            <div class="icon-social">
                <a href="">
                    f
                </a>
                <a href="">
                    f
                </a>
                <a href="">
                    f
                </a>
            </div>
        </div>

    </div>
</div>