<div class="app-users-list">
    <div fxLayout="row" class="user-container">
        <div fxFlex>
            <div fxLayout=column>
                <div class="header">
                    <mat-icon class="icon-add">add</mat-icon>
                    <button class="create-button" mat-raised-button (click)="openDialog()">create contact</button>
                </div>
                <div class="add-contact">
                    <mat-icon class="icon-contact">face</mat-icon>
                    Contacts
                </div>
                <div class="freguently-contact">
                    <mat-icon class="icon-history">history</mat-icon>
                    Freguently contacted
                </div>
            </div>
            <mat-divider style="width: 265px;"></mat-divider>
            <div fxLayout="row" fxLayoutGap="75px" style="margin-top: 10px;
            align-items: center">
                <div fxFlelx style="display: flex;
                align-items: center;">
                    <mat-icon class="icon-delete">delete_outline</mat-icon>
                    <button class="button-trash" mat-flat-button color="primary">Trash</button>
                </div>
                <a class="button-new" href="">New</a>
            </div>
        </div>
    </div>
</div>
<button class="create-button" mat-raised-button (click)="openDialogOne()">detail contact</button>
<!-- <button class="create-button" mat-raised-button (click)="openDialogTwo()">edit contact</button> -->