.app-navigation {
    direction: rtl;
    padding: 2px;
    border: 1px solid;
    border-color: gainsboro;
    position: sticky;
    top: -6px;
    z-index: 100;
    background: #fff;
    .header {
        color: red;
        margin-right: 10px;
        margin-top: 4px;
    }
    .nav-link {
        a {
            margin-left: 15px;
            color: black;
            text-decoration: none;
            font-size: 0.75em;
        }
    }
    .nav-item {
        border: 1px solid;
        padding: 5px 8px;
        color: #fff;
        background: #a62626;
        font-weight: 600;
        margin-left: 15px;
        text-decoration: none;
        font-size: 0.75em;
        border-radius: 4px;
        outline: none;
        border-style: none;
    }
    .selection {
        margin-top: 11px;
        margin-right: 10px;
        .button-nav {
            position: relative;
            padding-left: 4.5em;
            padding-right: 1.5em;
            background: #fff;
            box-shadow: inset 0 0 0 1px rgba(34, 36, 38, .15);
            border-style: none;
            height: 27px;
            outline: none;
            border-radius: 3px;
            color: #909090;
            font-size: 0.75em;
            .icon-down {
                position: absolute;
                height: 100%;
                text-align: center;
                margin: 0;
                width: 1.8em;
                background-color: rgba(0, 0, 0, .05);
                color: "";
                box-shadow: inset -1px 0 0 0 transparent;
                top: 0px;
                left: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #909090;
                font-size: 1.5em;
            }
        }
    }
    .button-menu {
        border: 1px solid #bcb4b4;
        border-radius: unset;
        margin-left: 10px;
        width: 4em;
        outline: none;
    }
}