<div class="app-sponsors-list">

    <div fxLayout="row" class="sponsors-container">
        <div fxFlex>
            <div fxLayout=column>
                <div class="header">
                    <mat-icon class="icon-add">add</mat-icon>
                    <button class="create-button" mat-raised-button (click)="openDialog()">create sponsors</button>
                </div>
                <div class="add-contact">
                    <mat-icon class="icon-contact">face</mat-icon>
                    sponsors
                </div>
                <div class="freguently-sponsors">
                    <mat-icon class="icon-history">history</mat-icon>
                    Freguently sponsors
                </div>
            </div>
            <mat-divider style="width: 265px;"></mat-divider>
            <div fxLayout="row" fxLayoutGap="75px" style="margin-top: 10px;
            align-items: center">
                <div fxFlelx style="display: flex;
                align-items: center;">
                    <mat-icon class="icon-delete">delete_outline</mat-icon>
                    <button class="button-trash" mat-flat-button>Trash</button>
                </div>
                <a class="button-new" href="">New</a>
            </div>
        </div>

    </div>
</div>
<button class="create-button" mat-raised-button (click)="openDialogOne()">detail sponsors</button>