<div class="app-list">
    <div fxLayout="row" *ngIf="serverLoding">
        <mat-card style="width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 800px;">
            <mat-card-content>
                <mat-spinner></mat-spinner>
            </mat-card-content>
        </mat-card>
    </div>
    <div gdGap="10px" gdColumns="repeat(auto-fill , minmax(253px,1fr))">
        <app-sponsor-card routerLink="/sponsor/detail" [item]="item" *ngFor="let item of cardList"></app-sponsor-card>
    </div>
</div>