<div class="app-privacy-policy">
    <div fxLayout="column">
        <h1 class="header">مرکز پشتیبانی دیوار</h1>
        <mat-divider class="line"></mat-divider>
        <div class="form">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label></mat-label>
                <input style="text-align: right;" matInput placeholder="جست و جو در سوالات...">
                <mat-icon matSuffix>search</mat-icon>

            </mat-form-field>
        </div>
    </div>
</div>