<div class="app-forgotpassword">
    <div fxFlex class="left-panel" fxHide.lt-md>
        <div fxLayout="column">
            <div class="header">
                <h1 class="title">Charity</h1>
                <div style="max-width: 305px;">
                    <h2 class="text">
                        Discover the world’s top Designers & Creatives.
                    </h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/img/img2.jpg" alt="">
                <div class="text-footer">
                    <p>
                        Art by
                        <a href="">
                        Peter Tarka
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div fxFlex class="right-panel">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="" fxHide.lt-md>
            <div fxFlex>
                <mat-icon class="icon-left">chevron_left</mat-icon>
            </div>
            <div fxFlex class="member-text">
                <p>
                    Not a member?
                    <a href="" [routerLink]="['/Forgot Password?']">
                    Sign up now
                    </a>
                </p>
            </div>
        </div>
        <div class="section-form">
            <h2 class="title-body">Forgot Password?</h2>
            <div class="password-instructions">
                <p>
                    Enter the email address you used when you joined and we’ll send you instructions to reset your password.
                </p>
                <p>
                    For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
                </p>
            </div>
            <div class="form">
                <div class="form-body">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email Address</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <button class="resetinstructions-button" mat-flat-button color="primary">Send Reset Instructions</button>
            </div>
        </div>

    </div>



</div>