.app-forgotpassword {
    .left-panel {
        .header {
            background: #f1cdd7;
            padding-left: 40px;
            .title {
                color: #865c6c;
                margin-top: 30px;
                font-size: 2em;
                font-weight: 600;
            }
            .text {
                color: #865c6c;
                margin-top: 30px;
                font-size: 2em;
                font-weight: 600;
                width: 100%;
            }
        }
        .image {
            height: 100%;
            background-color: #f1cdd9;
            img {
                width: 100%;
            }
        }
        .text-footer {
            padding-left: 40px;
            a {
                text-decoration: none;
            }
        }
    }
    .right-panel {
        padding: 10px 20px;
        .icon-left {
            width: 35px;
            border: 1px solid #e4e4e4;
            height: 35px;
            border-radius: 50%;
            padding: 5px;
            color: #6e6d7a;
            font-weight: 600;
        }
        .member-text {
            text-align: end;
            a {
                text-decoration: none;
                color: #6f5fd3;
            }
        }
        .section-form {
            .title-body {
                font-size: 1.85em;
                font-weight: 600;
                margin-top: 60px;
                padding-left: 15px;
            }
            .password-instructions {
                max-width: 379px;
                margin-left: 15px;
                margin-top: 30px;
            }
            .form {
                margin-left: 15px;
                margin-top: 30px;
                .form-body {
                    mat-form-field {
                        width: 100%;
                    }
                }
                .resetinstructions-button {
                    background: #ea4c89;
                    text-transform: capitalize;
                    width: 194px;
                    padding: 2px;
                    border-radius: 10px;
                    font-size: 1.1em;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}