<div class="app-calendars-list">
    <div fxLayout="row" class="calendars-container">
        <div fxFlex>
            <div fxLayout=column>
                <div class="header">
                    <mat-icon class="icon-add">add</mat-icon>
                    <button class="create-button" mat-raised-button (click)="openDialog()">create calendars</button>
                </div>
                <div class="add-calendars">
                    <mat-icon class="icon-calendars">face</mat-icon>
                    calendars
                </div>
                <div class="freguently-calendars">
                    <mat-icon class="icon-history">history</mat-icon>
                    Freguently calendars
                </div>
            </div>
            <mat-divider style="width: 265px;"></mat-divider>
            <div fxLayout="row" fxLayoutGap="75px" style="margin-top: 10px;
            align-items: center">
                <div fxFlelx style="display: flex;
                align-items: center;">
                    <mat-icon class="icon-delete">delete_outline</mat-icon>
                    <button class="button-trash" mat-flat-button>Trash</button>
                </div>
                <a class="button-new" href="">New</a>
            </div>
        </div>


    </div>

    <button class="create-button" mat-raised-button (click)="openDialogOne()">detail calendars</button>