<div class="app-profile">
    <div fxLayout="row" fxLayoutAlign="" style="width: 100%;
    padding: 25px;">
        <div fxFlex>
            <div fxLayout="row" fxLayoutGap="10px" style="display: flex;
            align-items: center;
            justify-content: flex-start;">
                <h2 class="header">s</h2>
                <div fxLayoutGap="10px">
                    <button class="upload" mat-flat-button>Upload new picture</button>
                    <button class="delete" mat-flat-button>Delete</button>
                </div>
            </div>
            <div fxLayout="column">
                <form [formGroup]="loginForm" (submit)="onSubmit()">
                    <div class="form-body">
                        <mat-form-field appearance="legacy">
                            <mat-label class="label">Name</mat-label>
                            <input formControlName="name" matInput placeholder="Placeholder">
                            <mat-hint>We’re big on real names around here, so people know who’s who.</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-body">

                        <mat-form-field appearance="legacy">
                            <mat-label class="label">Location</mat-label>
                            <input formControlName="location" matInput placeholder="Placeholder">
                        </mat-form-field>
                    </div>
                    <div class="form-body">
                        <mat-form-field appearance="legacy">
                            <mat-label class="label">Bio</mat-label>
                            <textarea formControlName="description" matInput></textarea>
                            <mat-hint>Brief description for your profile. URLs are hyperlinked.</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="list">
                        <mat-list>
                            <mat-list-item class="item-list">Online Presence</mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>

                    <div class="form-body">
                        <mat-form-field appearance="legacy">
                            <mat-label class="label">Personal website</mat-label>
                            <input formControlName="website" matInput placeholder="Placeholder">
                            <mat-hint>Your home page, blog, or company site.</mat-hint>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px">
                        <div class="form-body" style="width: 100%;">
                            <mat-form-field appearance="legacy">
                                <mat-label class="label">Portfolio URL</mat-label>
                                <input formControlName="url" matInput placeholder="Placeholder">
                                <mat-hint>Only shared with potential employers.</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-body" style="width: 100%;">
                            <mat-form-field appearance="legacy">
                                <mat-label class="label">Portfolio password</mat-label>
                                <input formControlName="password" matInput placeholder="Placeholder">
                                <mat-hint>Only if needed.</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="submit" class=" button-profile" mat-flat-button>Save Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>