<div class="app-contact-us">
    <div fxLayout="column">
        <h1 class="header">تماس با ما</h1>
        <p class="text">
            اگر پیشنهاد یا انتقادی دارید یا می‌خواهید ما را از وجود مشکلی در سیستم آگاه کنید، با دیوار صحبت کنید. برای اینکار می‌توانید از صفحه‌ی
            <a href="">
                پشتیبانی و قوانین
            </a> دیوار استفاده کنید.
        </p>
        <p class="text">
            برای حذف آگهی‌هایی که با شماره‌ی موبایل یا ایمیل شما ثبت شده است، به صفحه‌ی
            <a href="">
                مدیریت آگهی
            </a> مراجعه کنید. همچنین در صورت ایجاد مزاحمت برای شما، می‌توانید با مراجعه به سایت پلیس فتا به آدرس
            <a href="">
                http://www.cyberpolice.ir
            </a> از اطلاعات تماس پلیس فتای محل سکونت خود آگاه شوید و موضوع را از آن طریق پیگیری کنید.
        </p>
        <p class="text">
            .تیم‌های فنی ما در آدرس زیر اقامت دارند، ولی متأسفانه توان میزبانی مراجعان حضوری را نداریم.
        </p>
        <p class="text">
            آدرس پستی: تهران، سعادت‌آباد، خیابان فرهنگ، کوچه پیوند ۲، پلاک ۸.، طبقه سوم
        </p>
        <p class="text">
            صندوق پستی: ۴۸۳۱۱-۱۹۹۷۷
        </p>
        <p class="text">
            شماره تماس پشتیبانی: ۴۳۰۰۰۳۰۰-۰۲۱
        </p>
        <p class="text">
            شماره تماس واحد اداری: ۸۸۶۵۲۱۳۷-۰۲۱
        </p>
        <p class="text">
            فرصت‌های شغلی
        </p>
        <p class="text">
            امتحان کنید، یاد بگیرید و بهتر شوید.
            <a href="">
                به ما بپیوندید
            </a>
        </p>
        <div fxLayout="row" style="margin-top: 40px;align-items: center;
        justify-content: center;">
            <a class="image-bazar" href="">
                <span>دریافت از بازار</span>
            </a>
            <a class="image-appStore" href="">
                <span>دریافت از اپ‌استور</span>
            </a>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top:20px">
            <span style="display: flex;
            align-items: center;
            justify-content: center;">
            <h1 class="title-footer">دیوار</h1>
            را در شبکه‌های اجتماعی دنبال کنید:
        </span>
            <div class="icon-social">
                <a href="">
                    f
                </a>
                <a href="">
                    f
                </a>
                <a href="">
                    f
                </a>
            </div>
        </div>
    </div>
</div>