<div class="app-wish-detail">
    <div fxLayout="row" fxLayout.lt-md="column-reverse">
        <div fxFlex fxFlexOrder="1" fxFlexOrder.lt-md="2">
            <div fxLayout="column" style="align-items: center;">
                <div class="image-one">
                    <a href=""><img src="./assets/img/wXgpkdHQ.jpg" alt=""></a>
                </div>
                <div class="image-two">
                    <a href=""> <img src="./assets/img/wXgpkdHQ.jpg" alt=""></a>
                </div>
                <div class="form">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label></mat-label>
                        <input style="text-align: right;" matInput placeholder="لینک به‌اشتراک‌گذاری">
                        <mat-icon matSuffix>content_copy</mat-icon>

                    </mat-form-field>
                </div>
                <div class="text">
                    <p>
                        .دیوار هیچ‌گونه منفعت و مسئولیتی در قبال معامله شما ندارد
                    </p>
                    <mat-divider></mat-divider>
                    <a href="">
                        <p> راهنمای خرید امن</p>
                        <mat-icon style="margin-left: 8px;">help</mat-icon>
                    </a>
                    <mat-divider></mat-divider>
                    <a href="">
                        <p> گزارش مشکل آگهی</p>
                        <mat-icon style="margin-left: 8px;">info</mat-icon>
                    </a>
                    <mat-divider></mat-divider>

                </div>
            </div>
        </div>
        <div fxFlex fxFlexOrder="2" fxFlexOrder.lt-md="1">
            <div fxLayout="column">
                <div class="header-body">
                    <h1 class="title-body">میز ٪ =مدیریت </h1>
                    <p class="text-body">
                        یک ربع پیش در تهران، اختیاریه | میز و صندلی
                    </p>
                </div>
                <div fxLayout="row" style="margin-top: 10px;justify-content: space-around;">
                    <div class="button-show">
                        <button mat-stroked-button>نشان کردن</button>
                    </div>
                    <div class="button-body">
                        <button class="button-chat" mat-stroked-button>
                            
                            شروع چت
                            <mat-icon matSuffix>chat</mat-icon>
                        </button>
                        <button class="button-contact" mat-stroked-button>دریافت اطلاعات تماس</button>
                    </div>
                </div>
                <div fxLayout="row" style="justify-content: space-between;
                margin-top: 15px;margin-left:1.5em;margin-right:1.5em;">
                    <div class="text-desk">
                        <p style="color:#a3a3a3;">میز و صندلی</p>
                    </div>
                    <div class="text-menu">
                        <p style="color:#a3a3a3;">دسته‌بندی</p>
                    </div>
                </div>
                <mat-divider style="margin:0 1em"></mat-divider>
                <div fxLayout="row" style="justify-content: space-between;
                margin-top: 15px;margin-left:1.5em;margin-right:1.5em;">
                    <div class="text-city">
                        <a href="">تهران، اختیاریه</a>
                    </div>
                    <div class="text-place">
                        <p style="color:#a3a3a3;">محل</p>
                    </div>
                </div>
                <mat-divider style="margin:0 1em"></mat-divider>
                <div fxLayout="row" style="justify-content: space-between;
                margin-top: 15px;margin-left:1.5em;margin-right:1.5em;">
                    <div class="text-sale">
                        <p style="color:#a3a3a3;">فروشی</p>
                    </div>
                    <div class="text-type">
                        <p style="color:#a3a3a3;">نوع آگهی</p>
                    </div>
                </div>
                <mat-divider style="margin:0 1em"></mat-divider>
                <div fxLayout="row" style="justify-content: space-between;
                margin-top: 15px;margin-left:1.5em;margin-right:1.5em;">
                    <div class="agreement">
                        <p>توافقی</p>
                    </div>
                    <div class="price">
                        <p style="color:#a3a3a3;">قیمت</p>
                    </div>
                </div>
                <mat-divider style="margin:0 1em"></mat-divider>
                <div class="description">
                    <span>توضیحات</span>

                </div>
                <div class="text-footer">
                    <p>
                        ! هر آنچه برای تجهیز دفتر کار خود نیاز دارید را یکجا و با قیمت مناسب تهیه کنید

                        <br/> بی نظیر در کیفیت

                        <br/> بی رقیب در قیمت

                        <br/> ارسال از تهران به کل کشور

                        <br/> گروه تولیدی طاها چوب

                        <br/> دفتر فروش مرکزی پاسخگوی سوالات شما عزیزان :

                        <br/> ***********

                        <br/> ***********

                        <br/>


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>