<div class="app-signup">
    <div fxFlex class="left-panel" fxHide.lt-md>
        <div fxLayout="column">
            <div class="header">
                <h1 class="title">Charity</h1>
                <div style="max-width: 305px;">
                    <h2 class="text">
                        Discover the world’s top Designers & Creatives.
                    </h2>
                </div>
            </div>
            <div class="image">
                <img src="./assets/img/img1.png" alt="">
                <div class="text-footer">
                    <p>
                        Art by
                        <a href="">
                        Peter Tarka
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div fxFlex class="right-panel p-sm-4">
        <div fxLayout="column">
            <div class="paragraph" fxHide.lt-md>
                <p>
                    Already a member?
                    <a href="" routerLink="/auth/signin">
                    Sign In
                </a>
                </p>
            </div>
            <h2 class="title-body">Sign up to Charity</h2>
            <div fxLayout="row" style="margin-top: 15px;padding-bottom: 40px;padding-left:15px">
                <button class="mybutton" mat-flat-button color="primary">
                <mat-icon>format_bold</mat-icon>
                sign up with google
            </button>
                <a href="" class="button-twiter">
                    <mat-icon>face</mat-icon>
                </a>
            </div>

            <mat-divider style="width: 96%;margin-left:15px;"></mat-divider>

            <form action="" style="margin-top: 20px;padding-left: 15px">
                <div fxLayout="row" fxLayoutGap="15px" class="form-body" fxLayoutAlign="">
                    <mat-form-field fxFlex appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="legacy">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="form-body">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="form-body">
                    <mat-form-field appearance="legacy">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="check-list">
                    <mat-checkbox style="margin-right: 4px;"></mat-checkbox>
                    <a href="" class="text-link">
                        Creating an account means you’re okay with our<a href="" class="item-link">Terms of Service</a> ,<a href="" class="item-link">Privacy Policy</a> , and our default <a href="" class="item-link">Notification Settings</a>                    .
                    </a>
                </div>
                <button class="create-button" mat-flat-button color="primary">create account</button>

                <div style="max-width: 332px;">
                    <span class="text-privacy">
                This site is protected by reCAPTCHA and the Google  
                <a href="">
                    Privacy Policy
                </a>
                and
                <a href="">
                    Terms of Service 
                </a>
                apply.
            </span>
                </div>
            </form>
        </div>
    </div>
</div>