.app-sponsor-card {
    padding: 8px 5px 10px 7px;
    .image {
        max-width: 100px;
        position: relative;
        img {
            width: 100%;
            border-radius: 5px;
        }
        .icon-img {
            position: absolute;
            top: 74px;
            left: 75px;
            font-size: 35px;
            color: green;
        }
    }
    .header {
        position: relative;
        left: 85px;
        .icon-header {
            margin-right: 15px;
        }
        .icon-grade {
            border-left-style: solid;
            border-color: darkgrey;
        }
    }
    .text {
        margin-top: 45px;
        margin-left: 33px;
        text-transform: capitalize;
    }
    .mybutton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 22px;
    }
}