<div class="app-card-wish">
    <div fxFlex class="image">
        <img src={{item.img}} alt="">
    </div>
    <div fxFlex class="body">
        <div class="header">
            <span>
            {{item.name}}
        </span>
        </div>
        <div>
            <span class="text">
            {{item.price}}
        </span>
        </div>
        <div fxLayout="row" class="footer-card">
            <div fxFlex="90%">
                <span class="text-footer">
                   {{item.createdAt}}   
            </span>
            </div>
            <div fxFlex="10%">
                <mat-icon class="icon">{{item.icon}}</mat-icon>
            </div>
        </div>
    </div>
</div>