<div class="app-events-list">
    <div fxLayout="row" class="events-container">
        <div fxFlex>
            <div fxLayout=column>
                <div class="header">
                    <mat-icon class="icon-add">add</mat-icon>
                    <button class="create-button" mat-raised-button (click)="openDialog()">create events</button>
                </div>
                <div class="add-events">
                    <mat-icon class="icon-events">face</mat-icon>
                    events
                </div>
                <div class="freguently-events">
                    <mat-icon class="icon-history">history</mat-icon>
                    Freguently events
                </div>
            </div>
            <mat-divider style="width: 265px;"></mat-divider>
            <div fxLayout="row" fxLayoutGap="75px" style="margin-top: 10px;
            align-items: center">
                <div fxFlelx style="display: flex;
                align-items: center;">
                    <mat-icon class="icon-delete">delete_outline</mat-icon>
                    <button class="button-trash" mat-flat-button>Trash</button>
                </div>
                <button class="button-new" mat-flat-button color="primary">new</button>

            </div>
        </div>

    </div>
</div>
<button class="create-button" mat-raised-button (click)="openDialogOne()">detail events</button>