.app-password {
    .form-body {
        .label {
            font-size: 1em;
            font-weight: 500;
            color: #323143;
        }
        mat-form-field {
            width: 100%;
            padding-bottom: 10px;
        }
    }
    .button-profile {
        background: #ea4c89;
        border-radius: 8px;
        color: #fff;
        margin-top: 10px;
    }
}