<div class="app-password">
    <div fxLayout="column">
        <form action="">
            <div class="form-body">
                <mat-form-field appearance="legacy">
                    <mat-label class="label">Old password</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="form-body">
                <mat-form-field appearance="legacy">
                    <mat-label class="label">Password</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-hint>Minimum 6 characters</mat-hint>
                </mat-form-field>
                <button class=" button-profile" mat-flat-button>Change</button>

            </div>
        </form>
    </div>
</div>