.app-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .container-header {
            position: relative;
            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 35px;
                color: #fff;
                background: #5b6bc2;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding: 50px;
                font-size: 3em;
                font-weight: 500;
                top: -50px;
            }
        }
        .title {
            font-size: 1.4em;
            font-weight: 600;
        }
        .edit-button {
            border-style: solid;
            border-color: #e7e7e9;
            border-width: thin;
            outline: none;
        }
        .icon-button {
            border-style: solid;
            border-color: #e7e7e9;
            border-width: thin;
            border-radius: 9px;
            margin-left: 10px;
            text-align: center;
            outline: none;
        }
    }
}