.app-roles-edit {
    .roles-header {
        display: flex;
        border: 1px solid;
        width: 102px;
        border-radius: 30px;
        padding: 3px 9px;
        position: absolute;
        left: 73px;
        top: -3px;
        align-items: center;
    }
    .body {
        display: flex;
        align-items: center;
        .icon {
            color: #e5e5e5;
        }
    }
    .button-showmore {
        color: #2278e8;
        background: #fff;
        outline: none;
        padding-top: 10px;
    }
    .button-cancel {
        color: #2278e8;
        background: #fff;
        outline: none;
        padding-top: 10px;
        border-style: none;
    }
    .button-save {
        color: #c3c4c5;
        background: #fff;
        outline: none;
        padding-top: 10px;
    }
}